build/
dev/
mih_dev/
bin/
dist/
out/
bin-groovy/
.idea/*
.svn/
.metadata/
.idea/
.gradle/
*.class
*.bak
*.log
*.ipr
*.iws
*.iml
*.eml
*.ids
*.classpath
*.project
*.war
project.properties
Thumbs.db
.idea
.project
rebel.xml
.swp
clean.bat
.metadata/
gen/
local.properties
class_files.txt
